<article class="hero-article">
    <div class="hero-article__bg">
        <div id="voe-er__hero-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/hero-slide-01.jpeg" alt="slier-img-01">

                         <div class="hero-content-secton">
                            <div class="company-content-container">
                                <div class="companyLogo"></div>
                                <div class="companyContent">
                                    <label>Company Name2</label>
                                    <p>“orem ipsum dolor sit amet, consectetur adipiscing elit, sed do ”</p>
                                    <p class="stars-selection">
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review unselect"></span>
                                        <span class="icomoon-review unselect"></span>

                                        - Current Employees
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="item">
                    <img src="images/hero.jpg" alt="slier-img-02">
                         <div class="hero-content-secton">
                            <div class="company-content-container">
                                <div class="companyLogo"></div>
                                <div class="companyContent">
                                    <label>Company Name3</label>
                                    <p>“orem ipsum dolor sit amet, consectetur adipiscing elit, sed do ”</p>
                                    <p class="stars-selection">
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review selected"></span>
                                        <span class="icomoon-review unselect"></span>
                                        <span class="icomoon-review unselect"></span>

                                        - Current Employees
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#voe-er__hero-slider" role="button" data-slide="prev">
                <span class="arrow-left" aria-hidden="true">
                    <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/icons/arrow-left.png" alt="arrow-left" class="b-lazy img-responsive">
                </span>
        </a>
        <a class="right carousel-control" href="#voe-er__hero-slider" role="button" data-slide="next">
                <span class="arrow-right" aria-hidden="true">
                    <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/icons/arrow-right.png" alt="arrow-right" class="b-lazy img-responsive">
                </span>
        </a>
    </div>

    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero__title">Find a job that fits your life</h1>
            <div class="hero__search-component">
                <form action="" class="form-inline">
                    <div class="form-group form-group__keword">
                        <input type="text" class="form-control" placeholder="Keyword or Company">
                    </div>
                    <div class="form-group form-group__location">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                    <button type="submit" class="form-group__submit btn btn-default"><img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/search.svg" alt="..." class="b-lazy img-responsive"><span> Search</span></button>
                </form>
            </div>


        </div>
    </div>

</article>