<article class="hero-article-review">
	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<div class="review-banner-wrapper">
				<div class="teaser">
					<img src="images/banner-company-review.jpg" alt="banner" class="img-responsive">
				</div>
				<div class="company-profile">
					<div class="col-md-6 pull-left">
						<div class="company-info">
							<span class="logo box"><img src="images/logo-ekomi.png" alt="ekomi" class="img-responsive"></span>
							<span class="name"><h3>eKomi</h3></span>
						</div>
					</div>
					<div class="col-md-6 pull-right">
						<div class="follow-n-review text-right">
							<a href="" class="btn btn-default">Follow</a>
							<a href="" class="btn btn-success">Add Review</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</article>
