.search-wrapper {
	background-color: $white;
	padding: 20px 0;
	margin: 0 0 50px 0;

	@media (min-width: 1199px) {
		.container-fluid {
		    padding-left: 0;
		    padding-right: 0;
		}

		.form-group {
			input {
				&.form-control {
					width: 400px;
					&.location {
						width: 150px;
					}
				}
			}
		}
	}

	.form-group {
		input {
			
			&.form-control {
				border-radius: 0;
				padding: 20px 15px;
				margin-right: 10px;

				&.location {
					width: 150px;
				}
			}
		}
	}
	
	.btn {
		&.btn-success {
		    background: #29a00a;
		    -webkit-transition: all .5s ease-in-out;
		    transition: all .5s ease-in-out;
		    padding: 10px 15px 7px;
		    font-size: 16px;
		    border-radius: 0;
		}
	}
}