%nav-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

%white-round-box {
	background: #fff;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}


%blue-baner-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18a2c6+0,1fbfd8+50,1fbfd8+50,18a2c6+100 */
  background: rgb(24,162,198); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(24,162,198,1) 0%, rgba(31,191,216,1) 50%, rgba(31,191,216,1) 50%, rgba(24,162,198,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(24,162,198,1) 0%,rgba(31,191,216,1) 50%,rgba(31,191,216,1) 50%,rgba(24,162,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(24,162,198,1) 0%,rgba(31,191,216,1) 50%,rgba(31,191,216,1) 50%,rgba(24,162,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a2c6', endColorstr='#18a2c6',GradientType=1 ); /* IE6-9 */

}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}