{% set bodyClass = "inner-pages about-us" %}
{% extends 'template/_layout/default.html' %}
{% set pageTitle = "About Page" %}
{% set dynamic = "../images/banner.jpg" %}
{% set dynamicTitle = "About Us Page" %}

{% block content %}
{% include 'template/_components/review-search.html' %}
{% include 'template/_components/inner-page-hero.html' %}

<main class="site-main">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 visible-xs visible-sm MobileMenu">
                    <div class="box no-b-p">
                       <a class="submenu-link">Sub Menu</a>
                           <div class="sub-menu-open" style="display:none;">
                              <div class="expand-menu">
                                <div class="panel-group" role="tablist" id="accordion" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOneMob">
                                            <h4 class="panel-title"> <a href="#collapseOneMob" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne" class="collapsed"><span class="caret"></span> About Us </a> </h4> </div>
                                            <div class="panel-collapse collapse" role="tabpanel" id="collapseOneMob" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body"> 
                                                    <ul class="sub-menu">
                                                        <li><a href="#" class="active"> Overview  </a></li>
                                                        <li><a href="#"> Executive Team  </a></li>
                                                        <li><a href="#"> Board and Advisors  </a></li>
                                                        <li><a href="#"> Community Guidelines  </a></li>
                                                        <li><a href="#"> Help Centre  </a></li>
                                                        <li><a href="#"> Careers  </a></li>
                                                    
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwoMob">
                                            <h4 class="panel-title"> <a href="#collapseTwoMob" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo"><span class="caret"></span> Press Centre </a> </h4> </div>
                                        <div class="collapse panel-collapse" role="tabpanel" id="collapseTwoMob" aria-labelledby="headingTwo" aria-expanded="false">
                                            <div class="panel-body">
                                                     <ul class="sub-menu">
                                                        <li><a href="#" class="active"> Overview  </a></li>
                                                        <li><a href="#"> Executive Team  </a></li>
                                                        <li><a href="#"> Board and Advisors  </a></li>
                                                        <li><a href="#"> Community Guidelines  </a></li>
                                                        <li><a href="#"> Help Centre  </a></li>
                                                        <li><a href="#"> Careers  </a></li>
                                                    
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThreeMob">
                                            <h4 class="panel-title"> <a href="#collapseThreeMob" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree"><span class="caret"></span> Terms of Use & Privacy </a> </h4> </div>
                                        <div class="collapse panel-collapse" role="tabpanel" id="collapseThreeMob" aria-labelledby="headingThree" aria-expanded="false">
                                            <div class="panel-body"> 
                                                <ul class="sub-menu">
                                                        <li><a href="#" class="active"> Overview  </a></li>
                                                        <li><a href="#"> Executive Team  </a></li>
                                                        <li><a href="#"> Board and Advisors  </a></li>
                                                        <li><a href="#"> Community Guidelines  </a></li>
                                                        <li><a href="#"> Help Centre  </a></li>
                                                        <li><a href="#"> Careers  </a></li>
                                                    
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>

                 <div class="col-md-3 visible-md  visible-lg mb30">
                    <div class="box no-b-p">
                        <div class="expand-menu">
                            <div class="panel-group" role="tablist" id="accordion" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneDes">
                                        <h4 class="panel-title"> <a href="#collapseOneDes" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne" class="collapsed"><span class="caret"></span> About Us </a> </h4> </div>
                                        <div class="panel-collapse collapse" role="tabpanel" id="collapseOneDes" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body"> 
                                                <ul class="sub-menu">
                                                    <li><a href="#" class="active"> Overview  </a></li>
                                                    <li><a href="#"> Executive Team  </a></li>
                                                    <li><a href="#"> Board and Advisors  </a></li>
                                                    <li><a href="#"> Community Guidelines  </a></li>
                                                    <li><a href="#"> Help Centre  </a></li>
                                                    <li><a href="#"> Careers  </a></li>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwoDes">
                                        <h4 class="panel-title"> <a href="#collapseTwoDes" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo"><span class="caret"></span> Press Centre </a> </h4> </div>
                                    <div class="collapse panel-collapse" role="tabpanel" id="collapseTwoDes" aria-labelledby="headingTwo" aria-expanded="false">
                                        <div class="panel-body">
                                                 <ul class="sub-menu">
                                                    <li><a href="#" class="active"> Overview  </a></li>
                                                    <li><a href="#"> Executive Team  </a></li>
                                                    <li><a href="#"> Board and Advisors  </a></li>
                                                    <li><a href="#"> Community Guidelines  </a></li>
                                                    <li><a href="#"> Help Centre  </a></li>
                                                    <li><a href="#"> Careers  </a></li>
                                                
                                                </ul>
                                            </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThreeDes">
                                        <h4 class="panel-title"> <a href="#collapseThreeDes" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree"><span class="caret"></span> Terms of Use & Privacy </a> </h4> </div>
                                    <div class="collapse panel-collapse" role="tabpanel" id="collapseThreeDes" aria-labelledby="headingThree" aria-expanded="false">
                                        <div class="panel-body"> 
                                            <ul class="sub-menu">
                                                    <li><a href="#" class="active"> Overview  </a></li>
                                                    <li><a href="#"> Executive Team  </a></li>
                                                    <li><a href="#"> Board and Advisors  </a></li>
                                                    <li><a href="#"> Community Guidelines  </a></li>
                                                    <li><a href="#"> Help Centre  </a></li>
                                                    <li><a href="#"> Careers  </a></li>
                                                
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-9">
                    <div class="row mb30">
                        <div class="col-md-12">
                            <div class="box content-section">
                                <h2 class="green-label">Overview</h2>
                                <p><strong><u>What is Glassdoor?</u></strong></p>
                                <p>Glassdoor is the fastest growing jobs and recruiting site.</p>
                                <p>Glassdoor holds a growing database of more than 8 million company reviews, CEO approval ratings, salary reports, interview reviews and questions, benefits reviews, office photos and more. Add to that millions of the latest jobs — no other site allows you to see which employers are hiring, what it's really like to work or interview there, and how much you could earn. Glassdoor is also available via its mobile app on iOS and Android platforms.</p>
                                <p>For employers, Glassdoor offers effective recruiting and employer branding solutions via Glassdoor for Employers. We help more than 2,000 clients and partners promote their employer brand to candidates researching them and advertise their jobs to ideal candidates who may not be aware of them. What differentiates Glassdoor from other recruiting channels is the quality of job candidates we deliver and our influence on candidates' decisions as they research jobs and companies.</p>
                                <p>Glassdoor is headquartered in Mill Valley, California, USA and was founded by Robert Hohman, Rich Barton and Tim Besse in 2007.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb30">
                        <div class="col-md-12">
                            <div class="box content-section">
                                <div class="pagingControls">
                                    <ul>
                                        <li class="prev"> <a href="/Reviews/Ekomi-Reviews-E492204_P2.htm">Previous</a></li>
                                        <li class="page active"> <a href="/Reviews/Ekomi-Reviews-E492204_P2.htm">2</a> </li>
                                        <li class="page "> <a href="/Reviews/Ekomi-Reviews-E492204_P3.htm">3</a> </li>
                                        <li class="page "> <a href="/Reviews/Ekomi-Reviews-E492204_P4.htm">4</a> </li>
                                        <li class="page last"> <a href="/Reviews/Ekomi-Reviews-E492204_P5.htm">5</a> </li>
                                        <li class="next"> <a href="/Reviews/Ekomi-Reviews-E492204_P2.htm">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>

{% endblock %}
